


#sl-loadscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2B2B2B;
    color: #a2a2a2;
    z-index: 9999;
}
#sl-loadingicon {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    text-align: center;
}
#sl-loadingicon>i {
    font-size: 50px;
}