<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    width="30"
    height="30"
    viewBox="0 0 7.9374998 7.9375002"
    version="1.1"
    id="svg8"
    inkscape:version="0.92.2 5c3e80d, 2017-08-06"
    sodipodi:docname="icon.svg"
>
    <defs id="defs2" />
    <sodipodi:namedview
        id="base"
        pagecolor="#ffffff"
        bordercolor="#666666"
        borderopacity="1.0"
        inkscape:pageopacity="0.0"
        inkscape:pageshadow="2"
        inkscape:zoom="8"
        inkscape:cx="25.418654"
        inkscape:cy="-4.8817607"
        inkscape:document-units="px"
        inkscape:current-layer="layer2"
        showgrid="false"
        inkscape:window-width="1900"
        inkscape:window-height="1026"
        inkscape:window-x="10"
        inkscape:window-y="42"
        inkscape:window-maximized="1"
        units="px"
    />
    <metadata id="metadata5">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g
        inkscape:groupmode="layer"
        id="layer2"
        inkscape:label="Layer 2"
        style="display: inline"
        transform="translate(0,-289.06248)"
    >
        <g transform="translate(-117.56461,80.819233)" style="display: inline" id="g5457">
            <ellipse
                ry="0.83065313"
                rx="0.8064"
                cy="212.81227"
                cx="123.76674"
                id="path4660"
                style="
                    opacity: 0.97000002;
                    fill: none;
                    fill-opacity: 1;
                    stroke-width: 0.28099999;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                "
            />
            <rect
                y="211.01733"
                x="122.79786"
                height="2.7883515"
                width="0.33316052"
                id="rect4662"
                style="
                    opacity: 0.97000002;
                    fill-opacity: 1;
                    stroke: none;
                    stroke-width: 0.34037653;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                "
            />
            <path
                inkscape:connector-curvature="0"
                id="path4668"
                d="m 120.28449,213.00996 4.61842,-0.0236"
                style="
                    fill: none;
                    stroke-width: 0.16113181;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                "
            />
            <path
                sodipodi:nodetypes="csc"
                inkscape:connector-curvature="0"
                id="path4670"
                d="m 122.576,210.35822 c 0,0 -3.5447,-1.3306 -4.15909,1.55502 0,0 -0.2193,0.5618 0.7573,1.31524"
                style="
                    fill: none;
                    stroke-width: 0.465;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                "
            />
            <path
                sodipodi:nodetypes="ccccccc"
                inkscape:connector-curvature="0"
                id="path4672"
                d="m 119.02268,213.35592 0.067,0.32992 -0.72664,0.91873 1.23612,-0.70575 -0.19235,-0.79428 -0.14376,-0.0943 z"
                style="
                    fill-opacity: 1;
                    stroke: #000000;
                    stroke-width: 0;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                "
            />
            <path
                id="path4705"
                transform="scale(0.26458333)"
                d="m 460.76758,798.48242 -5.14649,9.5332 h 7.29493 l -1.4336,-9.5332 z"
                style="
                    fill: none;
                    fill-opacity: 1;
                    stroke: none;
                    stroke-width: 0.99999994px;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-opacity: 1;
                "
                inkscape:connector-curvature="0"
            />
            <circle
                r="0.13288225"
                cy="213.75369"
                cx="121.5282"
                id="path5390"
                style="
                    opacity: 0.97000002;
                    fill-opacity: 1;
                    stroke: none;
                    stroke-width: 0.28099999;
                    stroke-miterlimit: 4;
                    stroke-dasharray: none;
                    stroke-opacity: 1;
                "
            />
            <path
                sodipodi:nodetypes="cccccccc"
                inkscape:connector-curvature="0"
                id="path5413"
                d="m 120.16099,213.75665 1.64774,-2.65765 h 0.26281 l 0.53729,2.66016 h -0.27152 l -0.46066,-2.24084 -1.39379,2.24128 z"
                style="
                    fill-opacity: 1;
                    stroke: none;
                    stroke-width: 0.26458332px;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    stroke-opacity: 1;
                "
            />
        </g>
    </g>
</svg>
