<div class="slext-settings">
    <div class="slext-settings__wrapper">
        <div class="slext-settings__container">
            <button class="slext-settings__close">
                <i class="fa fa-times"></i>
            </button>
            <h1>SLext Settings</h1>
            <div class="slext-settings__section">
                <h2>Select ShareLatex Theme</h2>
                <ul class="slext-settings__themes"></ul>
            </div>
            <div class="slext-settings__section">
                <h2>Show/hide remote cursors and flags</h2>
                <input type="checkbox" id="sl_cursors" />
                <label for="sl_cursors">Hide remote cursors</label>
                <br>
                <input type="checkbox" id="sl_flags" />
                <label for="sl_flags">Hide remote name-flags</label>
                <br>
                <h2>Tab settings</h2>
                <i>Temporary tabs are closed if they are not interacted with before a new tab is opened</i>
                <br>
                <input type="checkbox" id="sl_temporary_tabs" />
                <label for="sl_temporary_tabs">Open new tabs as temporary tabs</label>
                <br>
                <input type="checkbox" id="sl_main_tab_first" />
                <label for="sl_main_tab_first">Keep main tab first in tab bar</label>
                <br>
                <h2>Command palette settings</h2>
                <i>Different types of action in the command palette can be prefixed to filter out results. If you enter
                    <b>&gt;</b> in the command palette only commands will be shown.</i>
                <input type="checkbox" id="sl_command_prefix" />
                <label for="sl_command_prefix">Require prefix in command palette to show other results than files</label>
            </div>
            <div class="slext-settings__section">
                <h2>Keyboard bindings</h2>
                <table class="slext-keyboard-bindings">
                    <tr>
                        <td class="slext-binding-description">Open command palette (search for files and run commands)</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>P</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Close tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>W</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Surround selection in LaTeX command</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>C</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Jump to file under cursor</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>G</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Set current tab as main tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>M</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Set current tab as a favorite tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>D</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Jump to tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>1</code> -
                            <code>alt</code>
                            <code>9</code>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="slext-settings__section">
                <h2>Bugs, questions & feature requests</h2>
                <p>If you encounter any bugs please do report them on github at the
                    <a href="https://github.com/hrjakobsen/slext/issues">SLext issue tracker</a>. For support and questions you can use the issue tracker as well or write a mail
                    to
                    <a href="mailto:slext-team@googlegroups.com">slext-team@googlegroups.com</a>. If you have a great idea for a new SLext feature, please submit them
                    to one of the previously mentioned communication channels.</p>
            </div>
            <div class="slext-settings__section">
                <h2>Changelog</h2>
                <h4>version 1.1.0</h4>
                <ul>
                    <li>Replaced the search menu (ctrl-p) with a command palette that can run commands as well as search for
                        files
                    </li>
                    <li>Added a command to the command palette that can count the number of characters in the selection</li>
                    <li>Added the ability to jump to the n'th tab by pressing alt + 1-9</li>
                </ul>
                <h4>version 1.0.4</h4>
                <ul>
                    <li>Fixed a bug with
                        <i>dead tabs</i> after lost connection to ShareLatex server or files being moved. Moved files will now
                        be removed from the tabs when clicked, if the file was not moved, the tabs should come back alive.</li>
                </ul>
                <h4>version 1.0.2 & 1.0.3</h4>
                <ul>
                    <li>Reverted settings to be saved globally to match ShareLatex behaviour (tabs are still saved per project)</li>
                    <li>SLext will now load on projects that are accessible with shared links</li>
                </ul>
                <h4>version 1.0.0</h4>
                <ul>
                    <li>Rewrote SLext in TypeScript</li>
                    <li>Settings are now saved per-project instead of globally</li>
                    <li>Tabs are also saved per-project, so that tabs does not disappear when opening other project</li>
                    <li>Added new command for wrapping selections in LaTeX command</li>
                    <li>Removed setting for disabling plugins, plugins will instead offer sections in settings menu for disabling
                        features
                    </li>
                    <li>Added drag-and-drop to tabs</li>
                    <li>Added a changelog</li>
                </ul>
            </div>
        </div>
    </div>
</div>