<div class="slext-settings">
    <div class="slext-settings__wrapper">
        <div class="slext-settings__container">
            <button class="slext-settings__close">
                <i class="fa fa-times"></i>
            </button>
            <h1>Slext Settings</h1>
            <!--<div class="slext-settings__section">
                <h2>Enable/Disable plugins</h2>
                <p>This is where you enable or disable plugins to tailer your SLext Experience&trade;</p>
                <ul class="slext-settings__plugins"></ul>
            </div>-->
            <div class="slext-settings__section">
                <h2>Select ShareLatex Theme</h2>
                <ul class="slext-settings__themes"></ul>
            </div>
            <div class="slext-settings__section">
                <h2>Show/hide cursors and flags</h2>
                <input type="checkbox" id="sl_flags" name="slext-settings__flags" class="slext-settings__flags" />
                <label for="sl_flags">Hide Flags</label>
                <br>
                <input type="checkbox" id="sl_cursors" name="slext-settings__cursors" class="slext-settings__cursors" />
                <label for="sl_cursors">Hide Cursors</label>
                <br>
            </div>
            <div class="slext-settings__section">
                <h2>Keyboard bindings</h2>
                <table class="slext-keyboard-bindings">
                    <tr>
                        <td class="slext-binding-description">Search files</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>P</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Close tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>W</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Surround selection in LaTeX command</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>C</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Jump to file under cursor</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>G</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Set current tab as main tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>M</code>
                        </td>
                    </tr>
                    <tr>
                        <td class="slext-binding-description">Set current tab as a favorite tab</td>
                        <td class="slext-binding-command">
                            <code>alt</code>
                            <code>D</code>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="slext-settings__section">
                <h2>Changelog</h2>
                <h4>version 0.5.0</h4>
                <ul>
                    <li>Rewrote SLext in TypeScript</li>
                    <li>Added new command for wrapping selections in LaTeX command</li>
                    <li>Removed setting for disabling plugins, plugins will instead offer sections in settings menu for disabling
                        features
                    </li>
                    <li>Added drag-and-drop to tabs</li>
                    <li>Added a changelog</li>
                </ul>
            </div>
        </div>
    </div>
</div>