<li class="slext-settings__theme" title="{{name}}">
    <!--<h3 class="slext-settings__theme-name">{{name}}</h3>-->
    <ul class="slext-settings__themewrapper">
        <li
            class="slext-settings__theme-color slext-settings__theme-color--first"
            style="background-color:{{theme.backgroundColor}};"
        ></li>
        <li
            class="slext-settings__theme-color slext-settings__theme-color--second"
            style="background-color:{{theme.accentColor}};"
        ></li>
        <li
            class="slext-settings__theme-color slext-settings__theme-color--third"
            style="background-color:{{theme.buttonBorder}};"
        ></li>
    </ul>
</li>
